{% extends "base.html" %}
{% load static %}


{% block meta %}
  <!-- Charset & Viewport -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- SEO Basics -->
  <title>Contact Us | Bose Service Centre | Bose Repair Service</title>
  <meta name="description" content="Contact Bose Service Centre for expert repair and doorstep service of your Bose speakers and products. Hassle-free, reliable service at your convenience.">
  <meta name="keywords" content="Bose contact, Bose customer care, Bose service enquiry, Bose repair contact, Bose support number, Bose speaker service support, Bose service Mumbai, Bose repair center contact">
  <meta name="robots" content="index, follow, max-image-preview:large">
  <link rel="canonical" href="https://boseservicecenter.co.in/contact-us">

  <!-- Google Verification -->
  <meta name="google-site-verification" content="NwrpN14CEh2EPcUnTo15852IZkXdnJS1Wla3nfPxL5c" />

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="manifest" href="{% static 'site.webmanifest' %}">

  <!-- Preload Banner Images -->
  <link rel="preload" as="image" href="{% static 'images/service-page-banner.jpg' %}" fetchpriority="high">
  <link rel="preload" as="image" href="{% static 'images/home-banner1.jpg' %}" fetchpriority="high">

  <!-- Open Graph -->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Contact Us | Bose Service Centre | Bose Repair Service">
  <meta property="og:description" content="Need Bose support? Contact our service experts for quick assistance and home repair services.">
  <meta property="og:url" content="https://boseservicecenter.co.in/contact-us">
  <meta property="og:site_name" content="Bose Service Centre | Bose Repair Service">
  <meta property="og:image" content="https://boseservicecenter.co.in/static/images/home-banner2.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:alt" content="Contact Bose Service Center">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Contact Us | Bose Service Centre | Bose Repair Service">
  <meta name="twitter:description" content="Need Bose support? Contact our service experts for quick assistance and home repair services.">
  <meta name="twitter:image" content="https://boseservicecenter.co.in/static/images/home-banner2.jpg">


  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ContactPage",
    "name": "Contact Us",
    "url": "https://boseservicecenter.co.in/contact-us",
    "description": "Contact Bose Service Centre for expert repair and doorstep service of your Bose products.",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://boseservicecenter.co.in/contact-us"
    }
  }
  </script>


{% endblock %}




{% block content %}


<section class="" id="innerpage">
  <div class="container-fluid nopadding">
    <div class="innwrap">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center mt-0 mb-0">
          <div class="product-slider">
            {% comment %} <div class="item"> <img src="{% static 'images/contact-us-banner.jpg' %}" alt="About" class="img-fluid aboutbg"> {% endcomment %}
            <div class="item"> <img src="{% static 'images/webp/contact-us-banner.webp' %}" alt="About" class="img-fluid aboutbg">
              <div class="boxwhite wow fadeInDown">
                <h1 class="titleinner">Astonishing sound. Wherever life takes you. </h1>
              </div>
              
              <!--boxwhite end--> 
            </div>
            <!--item end--> 
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="conwrap">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center mt-0 mb-3">
          <h2 class="wow fadeInUp">CONTACT US</h2>
          
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-3">
        <div class="row">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link active activenew" data-bs-toggle="tab" href="#andheri">Andheri Branch</a> </li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="andheri" class="container tab-pane active">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-0 p-0">
                <div class="boxtext">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                      <div class="col-md-5"> <i class="bi bi-geo-alt-fill"></i>
                        <h4>LOCATION</h4>
                        <p class="addhead">Office Address: <br>
                          Bose Service Center</p>
                        <p>506, Mourya Landmark -1, <span></span> Off New Link Rd, Veera Desai Industrial Estate, <span></span> Andheri West, Mumbai, <span></span> Maharashtra 400053. </p>
                        <p><strong>Timings</strong> - Monday to Saturday 10.00 to 07.00.</p>
                        <div class="mb-3"> <i class="bi bi-telephone-fill"></i>
                          <h4>PHONE</h4>
                          <p><a href="tel:+02242939392"> 022-42939392</a></p>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="row">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30153.982940135204!2d72.7954054!3d19.1406244!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b7c6d331a3ad%3A0xdd69bc9ce2201a20!2sThe%20Bose%20Authorised%20Service%20Center!5e0!3m2!1sen!2sin!4v1709201283317!5m2!1sen!2sin" width="800" height="370" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- boxtext end--> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5">
        <div class="row">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link active activenew" data-bs-toggle="tab" href="#thane">Thane Branch</a> </li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="thane" class="container tab-pane active">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                <div class="boxtext">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                      <div class="col-md-5"> <i class="bi bi-geo-alt-fill"></i>
                        <h4>LOCATION</h4>
                        <p class="addhead">Office Address: <br>
                          Bose Service Center</p>
                        <p> A303, Malhar Residency, <span></span>near Gaondevi Mandir, <span></span> Naupada, Thane West, Thane, <span></span> Maharashtra 400602 </p>
                        <p><strong>Timings</strong> - Monday to Saturday 10.00 to 07.00.</p>
                        <div class="mb-3"> <i class="bi bi-telephone-fill"></i>
                          <h4>PHONE</h4>
                          <p><a href="tel:+02242939393">022-42939393</a></p>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="row">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.172363164017!2d72.9742278!3d19.1876726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b9039aab730d%3A0x5112ce8898d23b14!2sThe%20Bose%20Authorised%20Service%20Center!5e0!3m2!1sen!2sin!4v1709201453062!5m2!1sen!2sin" width="800" height="370" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5">
        <div class="row">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link active activenew" data-bs-toggle="tab" href="#dadar">Dadar Branch</a> </li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content">
            <div id="dadar" class="container tab-pane active">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                <div class="boxtext">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                      <div class="col-md-5"> <i class="bi bi-geo-alt-fill"></i>
                        <h4>LOCATION</h4>
                        <p class="addhead">Office Address: <br>
                          Bose Service Center </p>
                        <p> 303, 3rd Floor, <span></span> Visava Co-operative Housing Society, <span></span> Near Shardashram Vidyamandir International <span></span> School, Bhavani Shankar Road, Dadar West, <span></span>Mumbai - 400028</p>
                        <p><strong>Timings</strong> - Monday to Saturday 10.00 to 07.00.</p>
                        <div class="mb-3"> <i class="bi bi-telephone-fill"></i>
                          <h4>PHONE</h4>
                          <p><a href="tel:+02242939391">022-42939391</a></p>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="row">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.1148126480007!2d72.83690650000001!3d19.014661800000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf9e11150e3d%3A0xb43fb612ef95c269!2sBose%20Service%20Center!5e0!3m2!1sen!2sin!4v1709201712781!5m2!1sen!2sin" width="800" height="370" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}