{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- live -->

<input type="text" id="forget_email_verify" hidden>

<section id="login">
  <div class="container">
    <div class="loginwrap">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="login-form" id="forgate_pass">
            <h2 class="mb-4">Forgot Password</h2>
			  
            <form class="requires-validation" novalidate>
              <div class="row g-2">
                <div class="mb-3 col-12 col-sm-12 col-md-12 col-lg-12">
                  <label for="email" class="form-label visually-hidden">Email address</label>
                  <input type="email" class="form-control pl-25" id="email" name="forgate_email" aria-describedby="emailHelp" placeholder="Enter email" required>
                  <!--                  <i class="form-icon"><img src="images/icons/mail-icon.png" alt="" title=""></i> --> 
                  <i class="form-icon fa fa-envelope"></i> </div>
				            <h5 class="">Please enter your email address to receive a verification code.</h5>
              </div>
 
              <button type="button" class="btn btn-primary subbuttn mt-3" id="forgate_password">Send</button>

            </form>
            <!-- <div class="mt-4">
              <p class="mb-0">Don't have an account ? <a href="register.html" class="">Register</a></p>
            </div> -->
          </div>
			
			
			<div class="login-form mt-3" id="verify_otps">
            <h2 class="mb-4">Verify Your Email</h2>
            <span id="otp_not_match" style="color: white;"></span>
			  
            <form class="requires-validation" novalidate>
              <div class="row g-2">
                <div class="mb-3 col-12 col-sm-12 col-md-12 col-lg-12">
                  <label for="code" class="form-label visually-hidden">Email address</label>
                  <input type="text" class="form-control pl-25" name="verify_otp_ex" id="verify_otp_ex" aria-describedby="code" placeholder="Enter code" required>
                  <!--                  <i class="form-icon"><img src="images/icons/mail-icon.png" alt="" title=""></i> --> 
                  <i class="form-icon fa fa-envelope"></i> </div>
				  <h5 class="">Please enter the 4 Digit code sent to &nbsp;<span id="user_emails"></span></h5>
				  <a href="javascript:void(0);" class="text-center" id="reset_otp">Resend Code</a>
              </div>
 
              <button type="button" class="btn btn-primary subbuttn mt-3" id="verify_matching_otp">Verify</button>

            </form>
            <!-- <div class="mt-4">
              <p class="mb-0">Don't have an account ? <a href="register.html" class="">Register</a></p>
            </div> -->
          </div>
			
			
			
			<div class="login-form mt-3" id="reset_passwordss">
            <h2 class="mb-4">Create New Password</h2>
			  
            <form class="requires-validation" novalidate>
              <span id="create_new_pass" style="color: white;"></span>
 
				
				
				<div class="row g-2">
                <div class="mb-3 col-12 col-sm-12 col-md-12 col-lg-12">
                  <label for="password" class="form-label visually-hidden">New Password</label>
                  <input type="password" class="form-control pl-25" id="new-password" placeholder="New Password" required>
                                     
                  
                  <!-- <i class="form-icon fa fa-lock"></i> <i class="form-icon-right bi bi-eye-slash"></i> -->
                  <i class="form-icon fa fa-lock"></i><i class="form-icon-right bi bi-eye pr-3" id="toggle-newpassword" style="cursor: pointer;"></i>
				  
				  </div>
				  
              </div>
				
              <div class="row g-2">
                <div class="mb-3 col-12 col-sm-12 col-md-12 col-lg-12">
                  <label for="password" class="form-label visually-hidden">Confirm Password</label>
                  <input type="password" class="form-control pl-25" id="confirm-password" placeholder="Confirm Password" required>
                                     
                  
                  <!-- <i class="form-icon fa fa-lock"></i> <i class="form-icon-right bi bi-eye-slash"></i> -->
                  <i class="form-icon fa fa-lock"></i>  <i class="form-icon-right bi bi-eye pr-3" id="toggle-confirmpassword" style="cursor: pointer;"></i>
				  
				  </div>
				  <!-- <h5 class="" style="color: red;">Both password didn't match</h5> -->
              </div>
              <button type="button" class="btn btn-primary subbuttn mt-3" id="change_password">Save</button>
      <!--              <div class="mt-4 text-center"> <a href="#" class="">Forget Password ?</a> </div>-->
            </form>
            <!-- <div class="mt-4">
              <p class="mb-0">Don't have an account ? <a href="register.html" class="">Register</a></p>
            </div> -->
          </div>
			
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  $(document).ready(function(){



      $('#toggle-confirmpassword').click(function(){
            var passwordField = $('#confirm-password');
            var passwordFieldType = passwordField.attr('type');

            if(passwordFieldType === 'password'){
                passwordField.attr('type', 'text'); // Show password as text
                $(this).removeClass('bi-eye-slash').addClass('bi-eye'); // Change eye icon to open
            } else {
                passwordField.attr('type', 'password'); // Hide password
                $(this).removeClass('bi-eye').addClass('bi-eye-slash'); // Change eye icon to slash
            }
        });


        $("#toggle-newpassword").on('click',function(){
          let username=$("#new-password");
          var usernameFieldType = username.attr('type');
          $(this).removeClass('bi-eye-slash').addClass('bi-eye');
          if(usernameFieldType === 'password'){
            username.attr('type', 'text'); // Show password as text
                $(this).removeClass('bi-eye-slash').addClass('bi-eye'); // Change eye icon to open
            } else {
              username.attr('type', 'password'); // Hide password
                $(this).removeClass('bi-eye').addClass('bi-eye-slash'); // Change eye icon to slash
            }

        });


// forget password
      $("#reset_passwordss").css({'display': 'none'}); 
      $("#verify_otps").css({'display': 'none'}); 

      async function sendOTP(email) {
        try {
          const response = await $.ajax({
            url: `{% url 'send_otp' %}`,  // URL to the Django view
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ email: email }),
            dataType: 'json',
            beforeSend: function () {
              $('#forgate_password').prop('disabled', true);
            }
          });

        if (response && response.message) {
              // //(response.message);  // Show success message
              $("#forgate_pass").css({'display': 'none'});
              $("#verify_otps").css({'display': 'block'}); 
            } else {
              //('Unexpected response format');
            }

        } catch (error) {
          if (error.responseJSON && error.responseJSON.error) {
            //(error.responseJSON.error);
          
          } else {
            //('An error occurred while sending OTP.');
          }
        } finally {
          $('#forgate_password').prop('disabled', false);
        }
      }

      $(document).ready(function () {

        $('#forgate_password').click(function () {
          const email = $("input[name='forgate_email']").val()
          if (email) {
            $("#forget_email_verify").prepend(email)
            $("#user_emails").text(email);
            sendOTP(email); 
          } else {
            //('Please enter an email address.');
          }
        });


  });


      // verify otp


        async function verifyOTP(email, otp) {
          try {
            const response = await $.ajax({
              url: "{% url 'verify_otp' %}", 
              type: "POST",
              contentType: "application/json",
              data: JSON.stringify({ email: email, otp: otp }),
              dataType: "json",
            });



            if (response && response.message) {
              // //(response.message);  // Show success message
              $("#verify_otps").css({ 'display': 'none' });
              $("#reset_passwordss").css({'display': 'block'}); 

            } else if (response.error) {
              $("#otp_not_match").empty();
              // alert(response.error); 
              $("#otp_not_match").prepend('Invalid OTP')
              //(response.error);  // Show error message
            }

          } catch (error) {
            if (error.responseJSON && error.responseJSON.error) {
              $("#otp_not_match").empty();
              // alert(error.responseJSON.error);
              $("#otp_not_match").prepend('Invalid OTP')
            } else {
              // alert("An error occurred while verifying OTP.");
            }
          }
      }


        $(document).ready(function () {
          $('#verify_matching_otp').click(function () {
            // const email = $("input[name='email']").val();
            const email =$("#forget_email_verify").text()

            const otp = $("input[name='verify_otp_ex']").val();
         
            //(otp)
            if (email && otp) {
              verifyOTP(email, otp); 
            } else {
              // alert("Please enter both email and OTP.");
            }
          });
        });



        // reset otp
        $("#reset_otp").on('click',function(){
          $("#verify_otp_ex").val('');
          $("#otp_not_match").empty();
          const email = $("#user_emails").text()
          if (email) {
            sendOTP(email); 

            $("#otp_not_match").prepend('OTP Sent')
            setTimeout(function() {
                $("#otp_not_match").text('');
            }, 2000);

          } else {
            //('Please enter an email address.');
          }
           
        })




// reset password



    async function resetPassword() {
          const email = $("#forget_email_verify").text();
          const newPassword = $("#new-password").val();
          const confirmPassword = $("#confirm-password").val();
          console.log(email,newPassword,confirmPassword,'=====================')
          if (newPassword !== confirmPassword) {
              //('Passwords do not match');
              $("#create_new_pass").prepend("Passwords does not match")
              return;
          }

          try {
                const response = await $.ajax({
                url: `{% url 'reset_password' %}`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    email: email,
                    new_password: newPassword,
                    confirm_password: confirmPassword
                }),
                dataType: 'json',
                success: function(response) {

                  sessionStorage.setItem('update_message', 'Your password has been updated successfully.');

                  setTimeout(function(){

                    window.location.href=`https://boseservicecenter.co.in/login`
                    //(response.message || 'Password reset successful');
                  },1000)
                },
                error: function(xhr, status, error) {
                    const errMessage = xhr.responseJSON ? xhr.responseJSON.error : 'Something went wrong';
                    //(errMessage);
                  }
              });
          } catch (error) {
              console.error('Error resetting password:', error);
              //('An error occurred while resetting the password');
          }
    }


        $("#change_password").on('click', resetPassword);


  })
</script>
{% endblock %}